body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    margin: 0;
    background-color: #00574C;
}
header {
    display: flex;
    position: absolute;
    width: calc(100% - 448px);
    justify-content:space-between;
    align-items: center;
    margin-left: 12%;
}
header a {
    text-decoration: none;
    color: #00574C;
    margin-top: 120px;
    font-weight: 600;
    margin-left: 5%;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
.commonButton{
    background-color: #87D5B9;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    border: none;
}
.loginlogout{
    text-decoration: none;
    color: #00574C;
    margin-top: 120px;
    font-weight: 600;
    margin-left: 5%;
}
.loggut {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px;
    color: #00574C;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Inter', sans-serif; 
}
.loggout:hover {
    color: #ffffff;
}
header a:hover {
    color: #ffffff;
}
header img{
    height: 120px;
    margin-top: 100px;
    margin-left: 30px;
}
.hero_image{
    width: 100%;
    overflow-x: hidden;
}
.hero_image img{
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.hero_image button{
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px #ffffff; 
    padding-inline: 40px;
}
.hero_image button:hover{
    border: solid 5px #87D5B9; 
    background-color: #ffffff;
    color: #87D5B9;
}
  .footer_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    color: #ffffff;
    margin-left: 10%;
  }
  .footer_box h3{
    text-decoration: underline;
  }
  .footer_left {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
  }
  .footer_left button{
    font-size: 0.8rem; 
    border-radius:8px; 
    width: 30%;
    color: #ffffff;
    font-weight: 600;
    border: #ffffff 2px solid;
    margin-top: 2%;
  }
  .footer_left button:hover{
    color: #87D5B9;
    background-color: #ffffff;
    border: #87D5B9 2px solid;

  }
  .footer_left input {
    font-size: 1rem; 
    border-radius:8px; 
    width: 60%;
    color: #00574C;
  }
  .footer_left input::placeholder {
    color: #00574C;
    opacity: 60%;
  }
   
  .footer_middel_left {
    flex-basis: 25%;
    text-decoration: none;
  }
  .footer_middel_left p{
    margin: 0
  }
  .footer_middel_right{
    flex-basis: 25%;
  }
  .footer_right{
    flex-basis: 25%;
  }
.footer_icon {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 3rem;
    justify-content: center;
}
.footer_icon i {
    margin: 0 1rem;
}
.footer_copyright{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
    font-size: 1rem;
}
.test{
    background-color: #87D5B9;
}
.popup-content{
    display: none;
}
.crucell h1{
    color: #FBE4B9;
    font-size: 8rem;
    margin-bottom: 20px;
    font-family: Tangerine;
}

.data-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
.data-container1{
    background-color: #037E6E;
    margin: 0 
}
.data-container1 h2{
    color: #ffffff;
    font-size: 6rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: Tangerine;
    color: #FBE4B9;
}
 /* Styling for blog posts index*/
.post {
    border-radius: 8px;
    padding: 10px;
    background-color: #FBE4B9;
    max-width: calc(33.33% - 50px);
    felx:1;
    max-width: 300px;
    margin: 0 auto;
    color: #00574C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
.post img {
    width: 100%;              
    height: 200px;            
    object-fit: cover;         
    border-radius: 8px;        
    overflow: hidden;          
}
 /* Styling for blog posts index */
 /*styling for blog posts edit*/
 .data{
    border-radius: 8px;
    padding: 10px;
    background-color: #FBE4B9;
    max-width: 100%;
    felx:1;
    max-width: 300px;
    margin: 0 auto;
    color: #00574C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
 }
 .data img {
    width: 100%;              
    height: 200px;            
    object-fit: cover;         
    border-radius: 8px;        
    overflow: hidden;          
 }
  /*styling for blog posts edit*/
  .Ostlandet{
    background-color: #037E6E;
  }
  .Fjellregel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Fjellregel h2{
    color: #00BDA5;
    font-size: 8rem;
    font-weight:900;
    margin-left: 5%;
  }
  .stifinneremaskott {
    transform: scaleX(-1);
    margin-top: 190px;
}
.stifinneremaskott img{   
    width: 70%;
    height: auto;
    cursor: pointer;
}