body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    margin: 0;
    background-color: #00574C;
}
header {
    display: flex;
    position: absolute;
    width: calc(100% - 448px);
    justify-content:space-between;
    align-items: center;
    margin-left: 12%;
}
header a {
    text-decoration: none;
    color: #00574C;
    margin-top: 120px;
    font-weight: 600;
    margin-left: 5%;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
.commonButton{
    background-color: #87D5B9;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    border: none;
}
.loginlogout{
    text-decoration: none;
    color: #00574C;
    margin-top: 120px;
    font-weight: 600;
    margin-left: 5%;
}
.loggut {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px;
    color: #00574C;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Inter', sans-serif; 
}
.loggout:hover {
    color: #ffffff;
}
header a:hover {
    color: #ffffff;
}
header img{
    height: 120px;
    margin-top: 100px;
    margin-left: 30px;
}
.hero_image{
    width: 100%;
    overflow-x: hidden;
}
.hero_image img{
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.hero_image button{
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px #ffffff; 
    padding-inline: 40px;
}
.hero_image button:hover{
    border: solid 5px #87D5B9; 
    background-color: #ffffff;
    color: #87D5B9;
}
  .footer_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    color: #ffffff;
    margin-left: 10%;
  }
  .footer_box h3{
    text-decoration: underline;
  }
  .footer_left {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
  }
  .footer_left button{
    font-size: 0.8rem; 
    border-radius:8px; 
    width: 30%;
    color: #ffffff;
    font-weight: 600;
    border: #ffffff 2px solid;
    margin-top: 2%;
  }
  .footer_left button:hover{
    color: #87D5B9;
    background-color: #ffffff;
    border: #87D5B9 2px solid;

  }
  .footer_left input {
    font-size: 1rem; 
    border-radius:8px; 
    width: 60%;
    color: #00574C;
  }
  .footer_left input::placeholder {
    color: #00574C;
    opacity: 60%;
  }
   
  .footer_middel_left {
    flex-basis: 25%;
    text-decoration: none;
  }
  .footer_middel_left p{
    margin: 0
  }
  .footer_middel_right{
    flex-basis: 25%;
  }
  .footer_right{
    flex-basis: 25%;
  }
.footer_icon {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 3rem;
    justify-content: center;
}
.footer_icon i {
    margin: 0 1rem;
}
.footer_copyright{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
    font-size: 1rem;
}
.crucell h1{
    color: #FBE4B9;
    font-size: 8rem;
    margin-bottom: 20px;
    font-family: Tangerine;
    text-align: center;
}

.data-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
.data-container1{
    background-color: #037E6E;
    margin: 0 
}
.data-container1 h2{
    color: #ffffff;
    font-size: 6rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: Tangerine;
    color: #FBE4B9;
}
 /* Styling for blog posts index*/
.post p{
    font-size: 1rem;
}
.post {
    border-radius: 8px;
    padding: 10px;
    background-color: #FBE4B9;
    max-width: calc(33.33% - 50px);

    max-width: 300px;
    margin: 0 auto;
    color: #00574C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}
.post img {
    width: 100%;              
    height: 200px;            
    object-fit: cover;         
    border-radius: 8px;        
    overflow: hidden;          
}
.post:hover{
    background-color:#00574C;
    color:#FBE4B9
    
}
 /* Styling for blog posts index */
 /*styling for blog posts edit*/
 .data{
    border-radius: 8px;
    padding: 10px;
    background-color: #FBE4B9;
    max-width: 100%;
    felx:1;
    max-width: 300px;
    margin: 0 auto;
    color: #00574C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
 }
 .data img {
    width: 100%;              
    height: 200px;            
    object-fit: cover;         
    border-radius: 8px;        
    overflow: hidden;          
 }
  /*styling for blog posts edit*/
  .Ostlandet{
    background-color: #037E6E;
  }
  .Ostlandet h2{
    color: #FBE4B9;
    font-size: 8vw;
    margin-bottom: 20px;
    text-align: center;
    font-family: Tangerine;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
  }
.fjellregel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    color: #ffffff;
}

.fjellregel_text h2{
    color: #00BDA5;
    font-size: 8vw;
    font-weight: 900;
}
.fjellregel_regel p {
    position: relative; /* For å kunne posisjonere spissen av boblen */
    color: #00574C;
    font-weight: 400;
    font-size: 1.3vw;
    margin-bottom: 10px;
    background-color: #FBE4B9;
    padding: 1%;
    margin-top: 40%;
    border-radius: 15px; /* Runder hjørnene */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: none;
}
.fjellregel_image{
    transform: scaleX(-1);
    cursor: pointer;
    margin-top:12%;
}
.fjellregel_image img{
    width: 15vw;
    height: auto;
    object-fit: cover;
}
.fjellregel_regel p:after {
    content: "";
    position: absolute;
    top: 50%; /* Plasser spissen vertikalt på midten */
    right: -10px; /* Plasser spissen utenfor høyre kant */
    transform: translateY(-50%); /* Sentrer spissen vertikalt */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FBE4B9; /* Farge på boblespissen */
}
.blogginnlegg {
    margin-top: 50px;
    margin: 50px 200px 0;
    color: #ffffff;
    text-align: center;
    background-color: #037E6E;
    border-radius: 10%;
}
.artikel img{
    width: 100%;              
    height: 400px;            
    object-fit: cover;         
    border-radius: 8px;        
    overflow: hidden;
}
.artikel h1{
    color: #ffffff;
    margin-bottom: 10px;
}
.artikel span{

    margin-bottom: 10px;
}
.artikel time{
}
.artikel p{
    font-size: 1.2vw;
    text-align: left;
}


@media (max-width: 1000px) {
    .data-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    .post p{
        font-size: 1.6vw;
     }
}
@media (max-width: 600px) {
    .data-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .post p{
        font-size: 3vw;
     }
}