body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    margin: 0;
    background-color: #00574C;
}
.commonButton{
    background-color: #87D5B9;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
header {
    display: flex;
    position: absolute;
    width: calc(100% - 448px);
    justify-content:space-between;
    align-items: center;
    margin-left: 12%;
}
header a {
    text-decoration: none;
    color: #00574C;
    margin-top: 120px;
    font-weight: 600;
    margin-left: 5%;
    
}
header a:hover {
    color: #ffffff;
}
header img{
    height: 120px;
    margin-top: 100px;
    margin-left: 30px;
}
.hero_image{
    width: 100%;
    overflow-x: hidden;
}
.hero_image img{
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.hero_image button{
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px #ffffff; 
    padding-inline: 40px;
}
.hero_image button:hover{
    border: solid 5px #87D5B9; 
    background-color: #ffffff;
    color: #87D5B9;
}
  .footer_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    color: #ffffff;
    margin-left: 10%;
  }
  .footer_box h3{
    text-decoration: underline;
  }
  .footer_left {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
  }
  .footer_left button{
    font-size: 0.8rem; 
    border-radius:8px; 
    width: 30%;
    color: #ffffff;
    font-weight: 600;
    border: #ffffff 2px solid;
    margin-top: 2%;
  }
  .footer_left button:hover{
    color: #87D5B9;
    background-color: #ffffff;
    border: #87D5B9 2px solid;

  }
  .footer_left input {
    font-size: 1rem; 
    border-radius:8px; 
    width: 60%;
    color: #00574C;
  }
  .footer_left input::placeholder {
    color: #00574C;
    opacity: 60%;
  }
   
  .footer_middel_left {
    flex-basis: 25%;
    text-decoration: none;
  }
  .footer_middel_left p{
    margin: 0
  }
  .footer_middel_right{
    flex-basis: 25%;
  }
  .footer_right{
    flex-basis: 25%;
  }
.footer_icon {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 3rem;
    justify-content: center;
}
.footer_icon i {
    margin: 0 1rem;
}
.footer_copyright{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
    font-size: 1rem;
}
.test{
    background-color: #87D5B9;
}
.popup-content{
    display: none;
}